

<footer>
    <div class="footer-wrap pd-20 mb-20 card-box">
        <strong>
            Copyright &copy; 2023 <a class="text-bold-800 grey darken-2" href="https://www.systems-x.com/en-us/"
                                     target="_blank">Systems X </a>.
        </strong> All rights reserved.
    </div>
</footer>