

<div class="page-header">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="title">
                <h4>@ViewBag.page</h4>
            </div>

           

        </div>

        <div class="col-md-6 col-sm-12 text-right">

            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb right">
                    <li class="breadcrumb-item">
                        <a href="#">@ViewBag.area</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">@ViewBag.module</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        @ViewBag.page
                    </li>
                </ol>
            </nav>
        </div>


    </div>
</div>