

@using TimeTracker.Models;

@{
    List<Project> projects = Model;
}

<select class="custom-select2 form-control" id="cboEProject" name="EProjectId" style="width: 100%; height: 38px">
    @foreach (var item in projects)
    {
        <option value="@item.ProjectId">@item.ProjectName</option>
    }

</select>
