
@using TimeTracker.Models;

@{
    List<Project> projects = Model;
}

<select class="custom-select2  form-control" id="cboProject" name="ProjectId" style="width: 100%; height: 38px" required>
    <option value=""> </option>
    @foreach (var item in projects)
    {
        string name = item.Customer.CustomerName + " - " + item.ProjectName;
        <option value="@item.ProjectId">@name</option>
    }

</select>
