@using TimeTracker.Models;



<select class="custom-select2 form-control" id="cboDates" name="cboDates" style="width: 100%; height: 38px">
    @foreach (var item in Model)
    {
        <option value="@item.Date">@item.Date.ToShortDateString()</option>
    }

</select>
