
@using TimeTracker.Models;

@{
    List<Category> categories = Model;
}

<select class="custom-select2 form-control" id="cboECategory" name="ECategoryId" style="width: 100%; height: 38px">
    @foreach (var item in categories)
    {
        <option value="@item.CategoryId">@item.CategoryName</option>
    }

</select>