@using TimeTracker.Models;

@{
    List<Activity> activities = Model;
}

<select class="custom-select2 form-control" id="cboActivity" name="ActivityId" style="width: 100%; height: 38px">
    <option value="0"></option>
    @foreach (var item in activities)
    {
        <option value="@item.ActivityId">@item.ActivityName</option>
    }

</select>
