<select class="custom-select2 form-control" id="cboMFA" name="cboMFA" style="width: 100%; height: 38px">
    <option value="0" selected></option>

    <option value="Email">Email</option>
    <option value="Microsoft / Google">Microsoft / Google</option>

</select>
