



@{
    ViewBag.Title = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container">
    @Html.Action("ListRoles", "Roles")
</div>


<script src="~/Scripts/Security/Roles.js"></script>
