
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="card-box mb-30">

    <div id="container">
        @Html.Action("ListActivity", "Activity")
    </div>
</div>

<script src="~/Scripts/Manteinance/Activity.js"></script>

