

@{
    List<TimeTracker.Models.Roles> roles = Model;
}


<select class="custom-select2 form-control" multiple="multiple" id="cboRole" name="cboRole" style="width: 100%; height: 38px">
    @foreach (var item in roles)
    {
        <option value="@item.RoleId">@item.RoleDescription</option>
    }

</select>


