
<select class="custom-select2 form-control" id="cboHO2Factor" name="cboHO2Factor" style="width: 100%; height: 38px">
    <option value="0">Every Login</option>
    <option value="1">Every Day</option>
    <option value="15">Every 15 Days</option>
    <option value="30">Every 30 Days</option>

</select>
