

@using TimeTracker.Models;

@{
    List<Customer> customers = Model;
}

<select class="custom-select2 form-control" id="cboECustomer" name="ECustomerId" style="width: 100%; height: 38px">
    @foreach (var item in customers)
    {
        <option value="@item.CustomerId">@item.CustomerName</option>
    }

</select>
