
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="content-body">
    <!-- Basic form layout section start -->
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">User</h4>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                @*<li><a data-action="close"><i class="ft-x"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="card-text">
                                @*<p>This is the basic horizontal form with labels on left and form controls on right in one line. Add <code>.form-horizontal</code> class to the form tag to have horizontal form styling. To define form sections use <code>form-section</code> class with any heading tags.</p>*@
                            </div>
                            @using (Html.BeginForm("ChangePasswordAction", "UserAccount", FormMethod.Post, new { @class = "form-horizontal form-horizontal" }))
                            {
                                <input type="hidden" id="userId" name="userId" value="@Model[0].UserId" />
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-lock"></i> Password</h4>
                                    <div class="form-group row">

                                        <div class="col-md-9 mx-auto">
                                            <label for="projectinput5">Current Password</label>
                                            <input type="password" id="current-password" class="form-control" placeholder="Current Password" name="current-password" required>
                                        </div>
                                    </div>

                                    <div class="form-group row">

                                        <div class="col-md-9 mx-auto">
                                            <label for="projectinput6">New Password</label>
                                            <input type="password" id="new-password" class="form-control" placeholder="New Password" name="new-password" required>
                                        </div>
                                    </div>

                                    <div class="form-group row">

                                        <div class="col-md-9 mx-auto">
                                            <label for="projectinput7">Confirm New Password</label>
                                            <input type="password" id="confirm-password" class="form-control" placeholder="Confirm New Password" name="confirm-password" required>
                                            <span id='message'></span>
                                        </div>
                                    </div>
                                    @{
                                    if (ViewBag.MsgPass != null)
                                    {
                                    <div class="alert alert-success mb-2" role="alert">
                                        @ViewBag.MsgPass
                                    </div>
                                    }
                                    if (ViewBag.MsgPassW != null)
                                    {
                                    <div class="alert alert-danger mb-2" role="alert">
                                        @ViewBag.MsgPassW
                                    </div>
                                    }
                                    }



                                    <div class="form-actions">
                                       
                                        <button type="submit" class="btn btn-primary" id="submit-pass" disabled>
                                            <i class="la la-check-square-o"></i> Save
                                        </button>
                                    </div>
                                </div>


                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <!-- // Basic form layout section end -->
</div>


<script>

    $('#new-password, #confirm-password').on('keyup', function () {
        if ($('#new-password').val() == $('#confirm-password').val()) {
            $('#submit-pass').prop('disabled', false);
            $('#message').html('Matching').css('color', 'green');

        } else {
            $('#submit-pass').prop('disabled', 'disabled');
            $('#message').html('Not Matching').css('color', 'red');
        }

    });


</script>