@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8" />
    <title>Login | Time Tracker</title>

    <!-- Site favicon -->
    <link rel="icon" type="image/x-icon" href="~/Content/img/W_Timer.png">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet" />
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/styles/core.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/styles/icon-font.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/styles/style.css" />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body class="login-page">

    <div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-md-12 col-lg-5">
                    <div class="login-box bg-white box-shadow border-radius-10">
                        <div class="login-title">
                            <h2 class="text-center text-primary">Recover Password</h2>
                        </div>

                        @using (Html.BeginForm("ChangeRecoverAction", "UserAccount", FormMethod.Post, new { @class = "form-horizontal form-simple" }))
                        {
                            <input type="hidden" id="userMail" name="userMail" value="@ViewBag.RecoverMail" />
                            <fieldset class="form-group position-relative has-icon-left mb-0">
                                <input type="password" class="form-control" id="user-password1" name="user-password1" placeholder="Type your password" required>
                                <div class="form-control-position">
                                    <i class="la la-key"></i>
                                </div>
                            </fieldset>
                            <fieldset class="form-group position-relative has-icon-left">
                                <input type="password" class="form-control" id="user-password2" name="user-password2" placeholder="Confirm Password" required>
                                <div class="form-control-position">
                                    <i class="la la-key"></i>
                                </div>
                            </fieldset>
                            <span id='message'></span>
                            <button type="submit" id="submit-pass" class="btn btn-info btn-block" disabled><i class="ft-unlock"></i> Save</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


</html>

<!-- welcome modal end -->
<!-- js -->
<script src="~/Content/vendors/scripts/core.js"></script>
<script src="~/Content/vendors/scripts/script.min.js"></script>
<script src="~/Content/vendors/scripts/process.js"></script>
<script src="~/Content/vendors/scripts/layout-settings.js"></script>

<script>

    $('#user-password1, #user-password2').on('keyup', function () {
        if ($('#user-password1').val() == $('#user-password2').val()) {
            $('#submit-pass').prop('disabled', false);
            $('#message').html('Matching').css('color', 'green');

        } else {
            $('#submit-pass').prop('disabled', 'disabled');
            $('#message').html('Not Matching').css('color', 'red');
        }

    });


</script>