


@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container">
    @Html.Action("ListUsers", "Users")
</div>



<script src="~/Scripts/Security/Users.js"></script>
