@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="card-box mb-30">

    <div id="container">
        @Html.Action("ListCategory", "Category")
    </div>
</div>

<script src="~/Scripts/Manteinance/Category.js"></script>

