@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="card-box mb-30">

    <div id="container">
        @Html.Action("ListCustomer", "Customer")
    </div>
</div>

<script src="~/Scripts/Manteinance/Customer.js"></script>
