
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="pd-20 card-box mb-30">
    <div class="clearfix mb-20">
        <div class="pull-left">
            <h4 class="text-lime h4">@ViewBag.Error</h4>
            @*<p>Add class <code>.table</code></p>*@
        </div>
       
    </div>
</div>
